body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.banner-container {
    position: relative;
    overflow: hidden;
}

.banner-image {
    
    width: 100%;
    height: 100vh;
}

.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Increase the width */
    height: 40%; /* Increase the height */
    background: linear-gradient(to bottom right, transparent 50%, #ffffff 50%);
    transform-origin: 100% 100%;
    transform: skewY(0.5deg); /* Adjust the skew angle */
    transform: skewY(0.1deg);
}


.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.text-overlay h1 {
    font-size: 3em;
    margin: 0;
}

.text-overlay p {
    font-size: 1em; 
    margin: 0;
}

.header {
            position: fixed;
            top: 0;
            width: 100%;
            height: 15%;
            background-color: rgb(255, 120, 41);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            display: flex;
            transition: top 0.3s, background-color 0.3s;/* Add smooth transition for header */
}

.header.hidden {
            top: -15%; /* Move the header off-screen when hidden */
            background-color: rgba(255, 120, 41, 0);
}

.header.transparent {
            background-color: rgba(255, 120, 41, 0.8); /* Adjust the transparency when scrolling up */
        }

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
}

.logo img {
        width: 120px;
        height: 50px;
        padding-top: 20px;
        margin-left: 80%;
    }

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    margin-left: 40%;
    
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s ease;
    display: flex;
    
}

.navbar a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 3px; 
}

.content-wrap {
    padding: 30px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin-bottom: 40px;
}

.sort p {
    margin-left: 30px;
}

.show-options {
    display: flex;
}

.show-per-page,
.show-new-late,
.search-container {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed */
}

.sort-by {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Adjust the margin as needed */
}

#sort-page,
#sort-by,
.searchInput {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    margin-right: 10px; /* Adjust the margin as needed */
}

label {
    margin-bottom: 0; /* Remove the margin-bottom for labels */
}


.card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sub-card {
    width: 260px; /* Set the width of each card */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    margin-bottom: 20px;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 50%;
    width: 100%; /* Set the width to cover the container */
    object-fit: cover;
   /* Set the aspect ratio (height/width) of the image container */
}

.date-post {
    margin: 20px;
    background-color: #ffffff;
    color: #757373; /* Set text color to white */
}

.title {
    padding: 20px;
    padding-top: 0px;
    max-height: 3em;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
